<div class="container-fluid login-section d-flex justify-content-center align-items-center">
    <div class="card logic-card p-1 shadow-sm m-auto">
        <div class="card-header p-3">Login</div>
        <div class="card-body">
            <form [formGroup]="loginForm">
                <div class="row">
                    <div class="col-xl-12 mb-4">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="example@example.com" formControlName="email">
                        <div class="text-danger" *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
                            E-mail is required. 
                        </div>
                    </div>
                    <div class="col-xl-12 mb-4">
                        <label for="password" class="form-label">Password</label>
                        <input type="text" class="form-control" id="password" placeholder="*******" formControlName="password">
                        <div class="text-danger" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
                            Password is required. 
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-dark  float-end" (click)="submit()" [disabled]="!this.loginForm.valid">Login</button>
        </div>
    </div>
</div>  